
 <div id="footer">
     <img src="img/FoodLogo.png" align="right" width="90" height="90"/><p>CST 499: Capstone<br>
         Janelle Uganiza, Rogelio Rodriguez, Chrisopher Garcia.</p>
<!--    <img src="img/FoodLogo.png" alt="pic of pencil" width="100" height="100">-->
<!--          CST 499: Capstone-->
<!--          Janelle Uganiza, Rogelio Rodriguez, Chrisopher Garcia-->
 </div>
</html>