<%- include('partials/header.ejs') %>

<h2>Your Dock Number Is: </h2>

<br>
<br>
<% driverList.forEach(function(driver){  %>
    <%= driver.dock%>
    <br>
<% }) %>

<button><a href ="/">Home</a></button>
</body>
</html>