<%- include('partials/header.ejs') %>

<h2>Your Dock Number Is: </h2>
<br>
<div class="container">
    <table class="table">
        <% driverList.forEach( function(driver){ %>
            <tr>
                <td class="align-middle"><h2><%= driver.dock %></h2></td>
            </tr>
        <% })  %>

    </table>
</div>
<button type="submit"><a href="/">Home</a></button><br>