<%- include('partials/header.ejs') %>
<head>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBebGg0EYJGo98SWvR4hPRZT7VdI5xiHls&callback=initMap"
    type="text/javascript"></script>
</head>
 <body onload="myFunction()"></body> <!-- THIS STARTS THE CLOCK  -->
<h2>Your Dock Number Is: </h2>

<br>
<br>

<div class="container">
    <table class="table">
        <% driverList.forEach( function(driver){ %>
        <tr>
            <td class="align-middle"><h2><%= driver.dock %></h2></td>
        </tr>
        <% })  %>

    </table>
</div>
<div id="map"></div>
<div class="container"></div>
<input type="hidden" name="driver_location" id="driver_location">
<input type="hidden" name="driver_duration" id="driver_duration">
<input type="hidden" name="driver_id" id="driver_id" value="<%= driverList[0].driver_id %>">
<span id="duration"></span>
<button><a href ="/">Home</a></button>
</body>
<!-- <script> -->

<script>

    let map, infoWindow;
    function myFunction() { // THIS is the set interval, will update every 5000 miliseconds
    	setInterval(function() {
    		initMap();
            updateDB();
    	}, 5000);
    }

    async function updateDB() {
        var driverLocation = $("#driver_location").val();
        var driverDuration = $("#driver_duration").val();
        var driverID = $("#driver_id").val();
        // var driverDurationInSeconds = $("#driver_duration_seconds").val();
        $.ajax({

            method: "POST",
            url: "/updateDB",
            dataType: "JSON",
            data: { "driverDuration":driverDuration,
                    "driverID":driverID },
            success: function(result,status) {
            }

        });//ajax
    }

    async function initMap() {
        // Variables
        var userOriginCoords;
        var userOrigin = await getPosition();
        var userDestination = new google.maps.LatLng(37.333868240178184, -121.9031049556756);
        // Creating the Map
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 15,
        });
        // Creating Info Box
        infoWindow = new google.maps.InfoWindow();
        infoWindow.setPosition(userOrigin);
        infoWindow.setContent("GPS LOCATION!");
        infoWindow.open(map);
        map.setCenter(userOrigin);
        // Try distance
        var service = new google.maps.DistanceMatrixService();
        var distance = await getDistance(service, userOrigin, userDestination);

        //console.log(callback.response); // cout doesn't work, returns undefined
        //console.log(distance);


    }
    // -------------- functions -------------------- //
    // New function that gets the user's location
    async function getPosition() {
        return new Promise(function(resolve, reject) {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        const pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude,
                        };
                        resolve(pos);
                    });
            }
        });
    }
    // Distance Function
    async function getDistance(service, userOrigin, userDestination) {
        // console.log("getDistance()");
        // console.log(userOrigin);
        service.getDistanceMatrix(
            {
                origins: [userOrigin],
                destinations: [userDestination],
                travelMode: 'DRIVING',
                //divingOptions: DrivingOptions,
                unitSystem: google.maps.UnitSystem.IMPERIAL,
                avoidHighways: true,
                avoidTolls: true,
            }, callback);
    }
    // Backup function to handle location errors. Provided by Google.
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(
            browserHasGeolocation
                ? "Error: The Geolocation service failed."
                : "Error: Your browser doesn't support geolocation."
        );
        infoWindow.open(map);
    }
    // Callback function provided by Google. I have no clue how to use this.
    function callback(response, status) {
        // console.log(response);
        if (status == 'OK') {
            var origins = response.originAddresses;
            var destinations = response.destinationAddresses;
            for (var i = 0; i < origins.length; i++) {
                var results = response.rows[i].elements;
                for (var j = 0; j < results.length; j++) {
                    var element = results[j];
                    var distance = element.distance.text;
                    var duration = element.duration.text;
                    var from = origins[i];
                    var to = destinations[j];

                    var duration2 = response.rows[0].elements[0].duration;
                    var duration_text = duration2.text;

                    // var location2 = response.destinationAddresses[1];
                    // var location_text = location2.text;

                    $("#duration").text(duration_text);
                    $("#driver_duration").val(duration_text);

                    $("#driver_duration_seconds").val(duration_int);

                    // $("#driver_location").val(location_text);

                }
            }
        }
    }




</script>
</html>