<%- include('partials/header.ejs') %>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<h1 class="jumbotron"><strong>Driver Information</strong></h1>

<form method ="POST">

    <h3>First Name: </h3>
    <input type="text" name="first_name">

    <h3>Last Name: </h3>
    <input type="text" name="last_name">

    <h3>Produce Item: </h3>
    <input type="text" name="produce_item">

    <h3>Phone Number: </h3>
    <input type="text" name="phone_number">

    <h3>License Plate: </h3>
    <input type="text" name="license_plate">

    <h3>Location: </h3>
    <input type="text" name="driver_location">

    <button id="DriverLocationBtn">Use Current Location</button><br><br>
    <button id="SubmitDriverInfo">Submit Info</button><br>

    <%= typeof(message) != "undefined"?message:"" %>

</form>



</body>
</html>