<%- include('partials/header.ejs') %>

<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<h1>
    <strong>Welcome</strong><br><br>
    <a href="login">Admin</a>
    <a href="driver">Driver</a>
</h1>
Already have an existing Driver ID?
<form action="/docknumber">
    <br>
    <input type="text" name="driver_id">
    <br>
    <br>
    <!--  <button id="SubmitDriverId"><a href="/docknumber?id=">Submit</a></button>-->
    <!--  <button id="SubmitDriverId"><a href="/docknumber?driver_id=">Submit</a></button>-->
    <button>Submit</button>
</form>

</body>
<%- include('partials/footer.ejs')%>