<html>
<head>
    <title>Admin</title>
</head>
<body>
<h4>Username: </h4>
<input type="text" id="AdminUsername">
<h4>Password: </h4>
<input type="text" id="AdminPassword"> <br><br>
<button id="AdminLogin">Login</button>
</body>
<script>
    /*global $ */

    $(document).ready(function(){
        $("#AdminLogin").click(function(){
            $.ajax({
                method: "GET",
                url:"/",
                dataType: "json",
                data: {
                },
                success: function(result){

                }
            });
        });
    });
</script>
</html>