<%- include('partials/header.ejs') %>

<head>
  <title>Admin</title>
  <link rel="stylesheet" href="/css/styles.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<h1>
  <strong>Welcome</strong><br><br>
  <a href="home">Admin</a>
  <a href="driver">Driver</a>
</h1>
</body>
</html>