
<%- include('partials/header.ejs') %>
<h1>
    <strong>Welcome</strong><br><br>
    <a href="login">Admin</a>
    <a href="driver">Driver</a>
</h1>
If you have driver Id
<form method="post">
    <input type="text">
    <br>
    <button id="SubmitDriverId"><a href="/docknumber?id=">Submit</a></button>
</form>
</body>
</html>