<%- include('partials/header.ejs') %>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<script>
    $(document).ready(function() {
        $("#AdminLogin").on("click",function(){
            $.ajax({
                method: "post",
                url: "/loginProcess",
                dataType: "json",
                data: { "username" : $("#AdminUsername").val(),
                    "password" : $("#AdminPassword").val()},
                success: function(result,status) {
                    //alert(result);
                    if(!result){
                        alert("Wrong credentials!")
                    }else{
                        location.href = "/database";
                    }
                }
            });//ajax
        });//click
    }); //document.ready
</script>

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            Login Form
        </div>
        <div class="card-body">
            <form action="/login" method="POST">

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>

</html>