<form method="POST">
    <h2>


        Dock Number:<input type="text"
                          value="<%= driverTable[0].dock %>"><br>


        <br>
        <button>Update Item</button>

        <%= typeof(message) != "undefined"?message:"" %>

    </h2>
</form>
<a href="home.ejs">Back</a>


</body>
</html>