body{
    background-color: lightgrey;
    text-align: center;

}
h1 {
    background-color: peachpuff;
    padding: 10mm;
}

div {
    background-color: peachpuff;
}
header{
    color:beige;
}
.column {
    float: left;
    width: 14.2857142857%;
}
#dis{
    float: left;
    width: 16.666%;
}
/* Clear floats after the columns */
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}