body{
    background-image: url("/img/wh.jpg");
    text-align: center;

}
h1 {
    background-color: lightgrey;
    padding: 10mm;
}

div{
    background-color: lightgrey;
}
header{
    color:beige;
}
.column {
    float: left;
    width: 10%;
}
#two{
    background-color: lightgrey;
}
#dis{
    float: left;
    width: 12.5%;
}

/* Clear floats after the columns */
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}